{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'breaking_bad/Styles.css'%}">
</head>
<body>
    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <form action="{% url 'searchbar' %}" method="get">
          <input name="query" type="text" placeholder="Search here.." >
          <button type="submit" name="button">Submit</button>
        </form>
    </div>
    <div class = "titulo">
        {{episodio.title}}
    </div>
    <div> 
        <div class="container_episodio"> 
            <ul>
                <p><span style= "color:grey">Serie: </span>{{serie}}</p>
                <p><span style= "color:grey">Temporada: </span>{{episodio.season}}</p>
                <p><span style= "color:grey">Episodio: </span>{{episodio.episode}}</p>
                <p><span style= "color:grey">Fecha: </span>{{episodio.air_date}}</p>
                <p><span style= "color:grey">Personajes: </span>
                    {% for personaje in episodio.characters %}
                    <ul><a style= "text-decoration:none;color:rgb(225, 225, 225);cursor:pointer" href = "{% url 'personajes' personaje %}">{{personaje}}</a></ul>
                    {% endfor %}
                <p>
                
            </ul>
        </div>
            
    </div>
</body>
</html>