{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'breaking_bad/Styles.css'%}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="{% url 'home'%}">Home</a>
        <input type="text" placeholder="Search..">
    </div>
    <div class = "titulo">
        {{serie}}
    </div>
    <div> 
        {% for idx, temp in temporadas.items %}
        <button type="button" class="collapsible">Temporada {{idx}}</button>
        <div class="content">
            {% for episode in temp%}
                <p>
                    <a class="button_temp" href="{% url 'episodios' serie episode.episode_id %}"> {{episode.episode}}. {{episode.title}}</a>
                </p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    var lastItem = parseInt(window.location.href.substring(window.location.href.lastIndexOf('/') + 1))
    if (lastItem  > 0){
      coll[lastItem-1].click();
    }
</script>
</html>
